<div class="container">

    <h1>Dashboard</h1>
    
    <form ng-submit="vm.addPet(vm.petToAdd)">

        <input type="text" required placeholder="Pet Name" ng-model="vm.petToAdd.petName">
        <input type="text" required placeholder="Pet Breed" ng-model="vm.petToAdd.petBreed">
        <input type="text" required placeholder="Pet Color" ng-model="vm.petToAdd.petColor">
        <input type="text" required placeholder="Pet Attitude" ng-model="vm.petToAdd.petAttitude">
        <input type="text" required placeholder="Swag Level num/text" ng-model="vm.petToAdd.petSwag">
        <input type="text" required placeholder="image url" ng-model="vm.petToAdd.image_url">

       
<!--ng-options="pets.owners_name for pets in vm.petsFromDb"-->
        <select 
        ng-options="owners.owners_name for owners in vm.ownerList"
        ng-model="vm.ownerID"
        required placeholder="Owner Name">

        <option disabled selected value=''>Select Owner</option>
           <!-- <option value="Bobby DT">Bobby DT</option> -->
            <!-- <option ng-repeat="pets.ownerName in vm.petsFromDb">{{pets.ownerName}}</option> -->
            
        </select>

        <input type="submit">

    </form>

    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="30" layout="column">
            <md-card ng-repeat="pets in vm.petsFromDb"
                md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{pets.pet_name}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-md card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <img ng-src={{pets.image_url}}  class="md-card-image">
                <md-card-content>
                    <p>Owner: {{pets.owners_name}}</p>
                    <p>Color: {{pets.color}}</p>
                    <p>Breed: {{pets.breed}}</p>
                    <p>Attitude: {{pets.attitude}}</p>
                    <p>Swag Level: {{pets.swag_level}}</p>
                    <p>Checked In: {{pets.checked_in}}</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">

                    <md-button  ng-click="vm.toggleStatus(pets.checked_in, pets.id)"
                                ng-hide="pets.checked_in == 'Yes'" >Check In</md-button>

                    <md-button  ng-click="vm.toggleStatus(pets.checked_in, pets.id)"
                                ng-hide="pets.checked_in == 'No'">Check Out</md-button>

                    <md-button ng-click="vm.deleteHistory(pets.id)">Delete History</md-button>

                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</div>